:root {
  --bs-primary: #343339;
  --bs-primary-rgb: 52, 51, 57;
}

.box-sizing-border {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background-color: #fff;
}

@media (max-width: 768px) {
  .mt-max-sm-3 {
    margin-top: 1rem !important;
  }
}

@media (min-width: 576px) {
  body {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  .container-sm {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container-sm {
    width: 900px;
  }
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #0d6efd;
  text-decoration: underline;
}

.song-title {
  word-break: break-all;
  color: #444;
}

.song-title:hover {
  color: #0d6efd;
}

.link-blue {
  color: #0d6efd;
}

.fs-11 {
  font-size: 1.25rem !important;
}

.fs-10 {
  font-size: 1rem !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}

.fs-8 {
  font-size: 0.7rem !important;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.col-xs-2d4,
.col-sm-2d4,
.col-md-2d4,
.col-lg-2d4 {
  position: relative;
  min-height: 0;
  padding-left: 0;
  padding-right: 0;
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .col-sm-2d4 {
    width: 20%;
  }
}

@media (min-width: 992px) {
  .col-md-2d4 {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .col-lg-2d4 {
    width: 20%;
  }
}

.thumb-cover {
  width: 120px;
  height: 120px;
  background-size: contain;
}

.nav-link {
  color: #7c3800;
}

.page-item.active .page-link {
  background-color: #ccc;
  border-color: #ddd;
  color: #666;
}

.page-item.disabled .page-link {
  background-color: #fff;
  border-color: #ddd;
}

.page-link {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.page-link:hover {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}

.nav-link:focus,
.nav-link:hover {
  color: #7c3800;
}

.btn-primary {
  color: #fff;
  background-color: #7c3800;
  border-color: #7c3800;
}

.btn-primary:hover {
  color: #fff;
  background-color: #8f5424;
  border-color: #8f5424;
}

.header-search {
  width: 100%;
  background-color: #f7edef;
  border-radius: 6px;
  padding-left: 1rem;
  height: 2.6rem;
  box-sizing: border-box;
}

.header-search .ipt {
  font-size: 1rem;
  height: 2.6rem;
  background: #f7edef;
  color: #333;
  border: 0;
  outline: none 0;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-writing-mode: horizontal-tb !important;
}

.header-search .icon-search {
  border: 0;
  font-size: 1.6rem;
  padding: 0 10px;
  background-color: transparent;
  color: #333;
}

.header-nav {
  margin-left: 2rem;
}

.header-nav a {
  display: inline-block;
  color: #111;
  text-decoration: none;
  font-size: 0.9rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
}

.header-nav a:hover {
  background-color: #f0f0f0;
  border-radius: 1rem;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #eee;
  /*font-size: 12px;*/
  color: #333;
  padding: 1rem 0;
}

.footer a {
  color: #333;
}

.body-box {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #eee;
  /*padding: 20px;*/
}

.search-count {
  border-radius: 12px;
  padding: 2px 8px;
  color: #333;
  background-color: #ddd;
}

.search-item {
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.down-item {
  border-radius: 4px;
  background-color: #f7edef;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
  color: #666;
}

.down-item a {
  color: #333;
  text-decoration: underline;
  word-break: break-all;
}

.down-item a:hover {
  color: #000;
}

.key-tag {
  border-radius: 8px;
  padding: 3px 5px 1px 6px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #fff;
}

.key-tag span {
  margin-left: 4px;
  font-size: 10px;
}

.key-tag:hover {
  color: #fff;
  text-decoration: none;
}

.key-tag-bg1 {
  background-color: #007bff;
}

.key-tag-bg1:hover {
  background-color: #0062cc;
}

.key-tag-bg2 {
  color: #212529;
  background-color: #ffc107;
}

.key-tag-bg2:hover {
  color: #212529;
  background-color: #d39e00;
}

.key-tag-bg3 {
  background-color: #28a745;
}

.key-tag-bg3:hover {
  background-color: #1e7e34;
}

.key-tag-bg4 {
  background-color: #6c757d;
}

.key-tag-bg4:hover {
  background-color: #545b62;
}

.key-tag-bg5 {
  background-color: #17a2b8;
}

.key-tag-bg5:hover {
  background-color: #117a8b;
}

.key-tag-bg6 {
  background-color: #dc3545;
}

.key-tag-bg6:hover {
  background-color: #bd2130;
}

.key-tag-bg7 {
  background-color: #343a40;
}

.key-tag-bg7:hover {
  background-color: #1d2124;
}

.rank-th {
  background-color: #eee;
  border-radius: 8px;
  padding: 4px 10px;
  color: #333;
  margin-top: 10px;
}

.rank-td {
  border-bottom: 1px solid #ddd;
  padding: 4px 10px;
  margin-top: 5px;
}

.rank-td i {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  display: inline-block;
  color: #333;
  background-color: #f7edef;
}
